<h1>Hello, <%= @user.name %></h1>

<h2>Your Book Reviews</h2>

<% @books.each do |book| %>
		<h3>Book: <%= link_to book.title, book_path(book) %></h3>
		<h3>Author: <%= book.author %></h3>
		<% @reviews.each do |review| %>
			<% if review.book_id == book.id %>
				<h3>Review:</h3> 
				<p><%= review.comments %></p>
				<h3>Rating: <%= review.rating %></h3><br>
			<%= link_to 'Edit Review', edit_user_review_path(@user.id, review.id) %><br>
			<%= link_to 'Delete Review', user_review_path(@user, review), data: {:confirm => 'Are you sure?'}, :method=> :delete %><br>
	
			<% end %>
			
		<% end %>

<% end %>
<br>
<%= link_to 'Log Out', user_path, method: "delete" %>