<div style="padding: 20px">
<h1 style="text-align: center;">Book List</h1>
<h2><%= link_to "Add New Book", new_book_path %></h2><br>


<% @books.each do |book| %>
<div id="book-<%= book.id %>" data-id="<%= book.id %>">
	<li><h2>Book Title: <%= link_to book.title, book_path(book) %></h2></li>
	<h2>Author: <%= book.author %></h2>
	<h3>Month and Year Assigned: <%= "#{book.month_assigned} #{book.year_assigned}" %></h3>
	<h3>Average Rating: <%= book.avg_rating %></h3>
	<h3>Number of Reviews: <%= book.review_count %></h3><br>

	<div id="more-<%= book.id %>" style="background-color: #ADD8E6"></div>
	<button class="js-more" data-id="<%= book.id %>">More Info</button>

	
<% end %>

</div>