<h1>Add a New Book for Book Club</h1>


<%= form_for @book do |f| %>

	<%= f.label :title, "Title" %>
  <%= f.text_field(:title) %><br>

  <%= f.label(:author, "Author") %>
  <%= f.text_field(:author) %><br>

  <%= f.label(:genre, "Genre") %>
  <%= f.text_field(:genre) %><br>

  <%= f.label(:pages, "Number of Pages") %>
  <%= f.text_field(:pages) %><br>

  <%= label_tag('book[month_assigned]', "Month Assigned for Book") %>
	<%= select_tag 'book[month_assigned]', options_for_select(@grouped_options) %> <br>

	<%= f.label(:year_assigned, "Year assigned - YYYY format, please.") %>
  <%= f.text_field(:year_assigned) %><br>

	<%= f.submit ("Create New Book") %>
<% end %>