<div style="padding:20px">
  <h1 style="text-align: center">Add a New Book for Book Club</h1>

  <br>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div style="background: pink">
  <%= form_for @book, :html => {:id => "bookResult"} do |f| %>

    <%= f.label :title, "Title" %>
    <%= f.text_field(:title) %><br>

    <%= f.label(:author, "Author") %>
    <%= f.text_field(:author) %><br>

    <%= f.label(:genre, "Genre") %>
    <%= f.text_field(:genre) %><br>

    <%= f.label(:pages, "Number of Pages") %>
    <%= f.text_field(:pages) %><br>

    <%= label_tag('book[month_assigned]', "Month Assigned for Book") %>
    <%= select_tag 'book[month_assigned]', options_for_select(@grouped_options) %> <br>

    <%= f.label(:year_assigned, "Year assigned - YYYY format, please.") %>
    <%= f.text_field(:year_assigned) %><br>

    <%= f.submit ("Create New Book") %>
  <% end %>
  </div>
</div>

<div id="bookResult">
  <h1 id="title"></h1>
  <h1 id="author"></h1>
  <h2 id="genre"></h2>
  <p id="pages"></p>
  <p id="month_assigned"></p>
  <p id="year_assigned"></p>
</div>

<script type="text/javascript" charset="utf-8">
  // $(function () {
  //   $('form').submit(function(event) {
  //     //prevent form from submitting the default way
  //     event.preventDefault();
  
  //     var values = $(this).serialize();
  //     debugger
  //     // values = "utf8=%E2%9C%93&authenticity_token=3o5drKht8JJGYToTlcjf2DogySVTCwiYixq9B5mZJVUg%2BmOz%2Fm881mg5uq4B3FH%2BEUCqtoF%2FBYEoivJew6d4OA%3D%3D&book%5Btitle%5D=some+book&book%5Bauthor%5D=me&book%5Bgenre%5D=space&book%5Bpages%5D=333&book%5Bmonth_assigned%5D=January&book%5Byear_assigned%5D=2019" 
  //     var new_book = $.post('/books', values);
 
  //     new_book.done(function(data) {
  //       debugger
  //       // data = entire html page
  //       $("#bookTitle").text(data["title"]);
  //       $("#bookAuthor").text(data["author"]);
  //       $("#bookGenre").text(data["genre"]);
  //       $("#bookPages").text(data["pages"]);
  //       $("#bookMonth").text(data["month_assigned"]);
  //       $("#bookYear").text(data["year_assigned"]);
  //     });
  //   });
  // });

  $('#bookResult').on('submit', function(e) {
    e.preventDefault();
    $.ajax ({
      url: this.action,
      data: $(this).serialize(),
      type: 'POST',
      success: function(res) {
        debugger
        $("#bookResult").html(res);
      }
    })
  })
</script>