
<div style="padding: 20px" id="book-details">
	<h1 style="text-align: center">Book Details</h1>
	<br>
	<h2>Title: <%= @book.title %> </h2>
	<h2>Author: <%= @book.author %></h2><br>
	<h3>Genre: <%= @book.genre %></h3>

	<h3>Number of Pages: <%= @book.pages %></h3>

	<h3>Average Rating: <%= @book.avg_rating %> on <%= @book.review_count %> reviews</h3>
	<br>

	<%= render 'reviews/reviews' %>

	<div class="reviewsAdd">
		<div style="padding: 20px; background: pink">
			<%= render 'form' %>
		</div>
	</div>

</div>

<!-- <script type="text/javascript" charset="utf-8">
  $(function () {
    $('reviewsAdd').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
      var rev = $.post('/books', values);
 
      rev.done(function(data) {
        var r = data;
        debugger
        $("#reviewUser").text(r["user"]["name"]);
        $("#reviewBody").text(r["comments"]);
      });
    });
  });
</script> -->