
<div style="padding: 20px" id="book-details">
	<h1 style="text-align: center">Book Details</h1>
	<br>
	<h2>Title: <%= @book.title %> </h2>
	<h2>Author: <%= @book.author %></h2><br>
	<h3>Genre: <%= @book.genre %></h3>

	<h3>Number of Pages: <%= @book.pages %></h3>

	<h3>Average Rating: <%= @book.avg_rating %> - <%= @book.review_count %> reviews</h3>
	<br>
</div>

<div class="reviews">
	<%= render 'reviews/reviews' %>
</div>


<div class="reviewsAdd">
	<div style="padding: 20px; background: pink">
		<%= render 'form' %>
	</div>
</div>