
<div style="padding: 20px">
<h1 style="text-align: center">Book Details</h1>
<br>
<h2>Title: <%= @book.title %> </h2>
<h2>Author: <%= @book.author %></h2><br>
<h3>Genre: <%= @book.genre %></h3>

<h3>Number of Pages: <%= @book.pages %></h3>

<h3>Average Rating: <%= @book.avg_rating %> on <%= @book.review_count %> reviews</h3>
<br>
<h2>Reviews:</h2>
<ul><% @reviews.each do |review| %>
	<li><h2>User: <%= review.user.name %></h2></li>
	<p><%= review.comments %></p>
<% end %></ul>
<br>
<h2><%= link_to "Add New Review", new_book_review_path(@book) %></h2>
</div>